<section class="about-me-wiper">
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide" tabindex="0">HTML/CSS</li>
            <li class="swiper-slide" tabindex="0">JavaScript</li>
            <li class="swiper-slide" tabindex="0">React</li>
            <li class="swiper-slide" tabindex="0">Node.js</li>
            <li class="swiper-slide" tabindex="0">React Native</li>
            <li class="swiper-slide" tabindex="0">Soft Skills</li>
        </ul>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>