<section class="about-me-accordion">
  <div class="container">
    <h2>About Me</h2>
<section>
  <h2>section About me accordion</h2>
<div class="about-me-description">
  <ul class="about-me-list">
    <li class="about-me-item">
      <div class="about-me-box">
        <h1 class="about-me-text">
          I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND 
          <span style="color: red;">FUNCTIONAL</span> 
          <span style="color: rgb(153, 153, 153);">WEBSITES</span> 
          THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY 
        </h1>
      </div>
    </li>
    <li>
      <div class="about-me-box">
        <img class="about-me-images" src="./img/about-me/imageaboutmob.jpg" alt="Lloyd Jefferson" width="343">
    </div>
  </li>
  </ul>
</div>
<div>
  <ul>
    <li class="accordion-button-list">
      <div class=" accordion-button-item">
        <button type="button" class="about-me-accordion-button">
      <div class="text-accordion-button">About me</div>
    </button>
  </div>
      <div>
        <ul class="about-me-context">
          <li>
            <p>I am Lloyd Jefferson, a talented programmer with 
              extensive expertise in software development. I have an understanding of different programming languages ​​and 
              technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, 
              creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even 
              the most difficult tasks encountered on the way.</p>
          </li>
          <li>
            <p>Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas 
              and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful 
              situations, while maintaining a high quality of work.I am always looking for opportunities for self-improvement. 
              I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong 
              understanding of various programming languages, frameworks and architectural concepts that allow me to create 
              efficient and scalable software.</p> </div>
            
</li>
        </ul>
    </div>
</li>
    <li class="accordion-button-list"> 
      <div class=" accordion-button-item">
      <button type="button" class="about-me-accordion-button">
        <div class="text-accordion-button">Role</div>
  </button>
</div>
      <div>       
      <p>Frontend development</p>
      <p>HeadlessCMS, Wordpress</p>
      <p>Blender (enjoy)</p>
    </div>
</li>
    <li class="accordion-button-list">      
      <div class=" accordion-button-item">
      <button type="button" class="about-me-accordion-button">
        <div class="text-accordion-button">Education</div>
  </button>
</div>
      <div>
      <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
      <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
      <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
    </div>
</li>
  </ul>
</div>
    </div>
</div>
</div>
</section>
