    <section class="about-me-swiper">
      <div id="circleSlider" class="circle-slider">
          <ul class="circle-container">
            <li class="circle">HTML/CSS</li>
            <li class="circle">JavaScript</li>
            <li class="circle">React</li>
            <li class="circle">Node.js</li>
            <li class="circle">React Native</li>
            <li class="circle">Soft Skills</li>
          </ul>
          <button id="nextButton" class="next-button">➡️</button>
        </div> 
    </section>
