<section class="about-me-accordion" id="abouts-me">
  <div class="container">
    <h2 class="visually-hidden">About me accordion</h2>
    <div class="about-me-description">
      <ul class="about-me-list">
        <li class="about-me-item">
          <div class="about-me-box">
            <h1 class="about-me-text">
              I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
              <span style="color: var(--red)">FUNCTIONAL</span>
              <span style="color: rgb(153, 153, 153)">WEBSITES</span>
              THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY
            </h1>
          </div>
        </li>
        <li class="about-me-item">
          <div class="about-me-box">
            <picture>
              <source
                srcset="
                  ./img/about-me/imageaboutmetab-2x.jpg 2x,
                  ./img/about-me/imageaboutmetab.jpg    1x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/about-me/imageaboutmemob-2x.jpg 2x,
                  ./img/about-me/imageaboutmemob.jpg   1x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/about-me/imageabout.jpg"
                width="343"
                height="500"
                alt="Lloyd Jefferson"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <ul class="acrdn-about-me-container">
      <li class="acrdn-button-list is-active">
        <h3 class="acrdn-button-item about-me-acrdn-button">
          About me
          <button type="button" class="about-me-acrdn-button">
            <svg class="icon-about about-me-btn-open visible" >
              <use href="./img/sprite/icons.svg#icon-arrow-up"></use>
            </svg>
            <svg class="icon-about about-me-btn-close">
              <use href="./img/sprite/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="content-about-me is-active">
          <div class="content-about-me-text">
            <p class="content-first">
              I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages ​​and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.
            </p>
            <p>
              Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
            </p>
          </div>
        </div>
      </li>
      <li class="acrdn-button-list">
        <h3 class="acrdn-button-item about-me-acrdn-button">
          Role
          <button type="button" class="about-me-acrdn-button">
            <svg class="icon-about about-me-btn-open">
              <use href="./img/sprite/icons.svg#icon-arrow-up"></use>
            </svg>
            <svg class="icon-about about-me-btn-close visible">
              <use href="./img/sprite/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="content-about-me">
          <div class="content-about-me-text text-wrap-about">
            <p>Frontend development</p>
            <p>HeadlessCMS, Wordpress</p>
            <p>Blender (enjoy)</p>
          </div>
        </div>
      </li>
      <li class="acrdn-button-list">
        <h3 class="acrdn-button-item about-me-acrdn-button">
          Education
          <button type="button" class="about-me-acrdn-button">
            <svg class="icon-about about-me-btn-open">
              <use href="./img/sprite/icons.svg#icon-arrow-up"></use>
            </svg>
            <svg class="icon-about about-me-btn-close visible">
              <use href="./img/sprite/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="content-about-me">
          <div class="content-about-me-text text-wrap-about">
            <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
            <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
            <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>


