<section class="benefits">
  <div class="container">
    <h2>Benefits of working with me</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <div class="icon-wrap">
          <svg class="benefit-icon" width="24" height="24">
            <use href="./img/benefits/benefits-icons.svg#icon-user"></use>
          </svg>
          <h3 class="benefit-subtitle">Expertise</h3>
          <p class="benefit-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="icon-wrap">
          <svg class="benefit-icon" width="24" height="24">
            <use href="./img/benefits/benefits-icons.svg#icon-message"></use>
          </svg>
          <h3 class="benefit-subtitle">Communication</h3>
          <p class="benefit-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="icon-wrap">
          <svg class="benefit-icon" width="24" height="24">
            <use href="./img/benefits/benefits-icons.svg#icon-brush"></use>
          </svg>
          <h3 class="benefit-subtitle">Art</h3>
          <p class="benefit-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="icon-wrap">
          <svg class="benefit-icon" width="24" height="24">
            <use href="./img/benefits/benefits-icons.svg#icon-time"></use>
          </svg>
          <h3 class="benefit-subtitle">Urgent execution</h3>
          <p class="benefit-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </div>
      </li>
    </ul>

    <a class="order-link" href="#reviews">Order the project</a>
  </div>
</section>
