  <section class="covers">
    <div class="container">
      <div class="covers-container">
      <h2 hidden>section Covers</h2>
      <ul class="covers-list">
        <li class="covers-foto"><img src="./img/covers/Rectangle10-min.jpg" alt="10" width="544"
          height="314"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle7-min.jpg" width="544"
          height="314" alt="7"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle11-min.jpg" width="544px"
          height="314px" alt="11"></li>
        <li class="covers-foto"><img src="./img/covers/firstscreen1-min.jpg" width="544px"
          height="314px" alt="1"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle 8-1x-min.jpg" width="544px"
          height="314px" alt="8"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle 9-1x-min.jpg" width="544px"
          height="314px" alt="9"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle4-min.jpg" width="544px"
          height="314px" alt=" 4"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle5-min.jpg" width="544px"
          height="314px" alt="5"></li>
        <li class="covers-foto"><img src="./img/covers/Rectangle12-min.jpg" width="544px"
          height="314px" alt="12"></li>

          <li class="covers-foto"><img src="./img/covers/Rectangle10-min.jpg" alt="10" width="544"
            height="314"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle7-min.jpg" width="544"
            height="314" alt="7"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle11-min.jpg" width="544px"
            height="314px" alt="11"></li>
          <li class="covers-foto"><img src="./img/covers/firstscreen1-min.jpg" width="544px"
            height="314px" alt="1"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle 8-1x-min.jpg" width="544px"
            height="314px" alt="8"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle 9-1x-min.jpg" width="544px"
            height="314px" alt="9"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle4-min.jpg" width="544px"
            height="314px" alt=" 4"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle5-min.jpg" width="544px"
            height="314px" alt="5"></li>
          <li class="covers-foto"><img src="./img/covers/Rectangle12-min.jpg" width="544px"
            height="314px" alt="12"></li>
      </ul>
    </div>
    </div>
  </section>