  <section class="covers">
    <!-- <div class="container"> -->
      <div class="covers-container">
      <h2 hidden>section Covers</h2>
      <ul class="covers-list">
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle10-min.jpg 1x, 
            ./img/covers/Rectangle10-x2-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/10-mob-x1_16_11zon.webp 1x, 
            ./img/covers/10-mob-x2_15_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle10-min.jpg" alt="10" width="544"
            height="314">
          </picture>
        </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle7-min.jpg 1x, 
            ./img/covers/Rectangle7-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/7-mob-x1_2_11zon.webp 1x, 
            ./img/covers/7-mob-x2_1_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle7-min.jpg" width="544"
            height="314" alt="7">
          </picture>
          </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle11-min.jpg 1x, 
            ./img/covers/Rectangle11-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/11-mob-x1_14_11zon.webp 1x, 
            ./img/covers/11-mob-x2_13_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle11-min.jpg" width="544"
            height="314" alt="11">
          </picture>
        </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/1-pc-x1_4_11zon.webp 1x, 
            ./img/covers/1-pc-x2_3_11zon.webp 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/1-mob-x1_12_11zon.webp 1x, 
            ./img/covers/1-mob-x2_11_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/1-pc-x1_4_11zon.webp" width="544"
          height="314" alt="1">
          </picture>
        </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle8-1x-min.jpg 1x, 
            ./img/covers/Rectangle8-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/8-mob-x1_4_11zon.webp 1x, 
            ./img/covers/8-mob-x2_3_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle8-1x-min.jpg" width="544"
          height="314" alt="8">
          </picture>
        </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle9-1x-min.jpg 1x, 
            ./img/covers/Rectangle9-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/9-mob-x1_10_11zon.webp 1x, 
            ./img/covers/9-mob-x2_5_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle9-1x-min.jpg" width="544"
            height="314" alt="9">
          </picture>
          </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle4-min.jpg 1x, 
            ./img/covers/Rectangle4-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/4-mob-x1_9_11zon.webp 1x, 
            ./img/covers/4-mob-x2_8_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle4-min.jpg" width="544"
            height="314" alt=" 4">
          </picture>
        </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle5-min.jpg 1x, 
            ./img/covers/Rectangle5-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <img src="./img/covers/Rectangle5-min.jpg" width="544"
            height="314" alt="5">
          </picture>
          </li>
        <li class="covers-foto">
          <picture>
            <source srcset="./img/covers/Rectangle12-min.jpg 1x, 
            ./img/covers/Rectangle12-2x-min.jpg 2x" 
            media="(min-width: 768px)">
            <source srcset="./img/covers/12-mob-x1_7_11zon.webp 1x, 
            ./img/covers/12-mob-x2_6_11zon.webp 2x" 
            media="(min-width: 320px)">
            <img src="./img/covers/Rectangle12-min.jpg" width="544"
          height="314" alt="12">
          </picture>
        </li>

          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/Rectangle10-min.jpg 1x, 
              ./img/covers/Rectangle10-x2-min.jpg 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/10-mob-x1_16_11zon.webp 1x, 
              ./img/covers/10-mob-x2_15_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/Rectangle10-min.jpg" alt="10" width="544"
              height="314">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/Rectangle7-min.jpg 1x, 
              ./img/covers/Rectangle7-2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/7-mob-x1_2_11zon.webp 1x, 
              ./img/covers/7-mob-x2_1_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/Rectangle7-min.jpg" width="544"
              height="314" alt="7">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/1-pc-x1_4_11zon.webp 1x, 
              ./img/covers/1-pc-x2_3_11zon.webp 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/1-mob-x1_12_11zon.webp 1x, 
              ./img/covers/1-mob-x2_11_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/1-pc-x1_4_11zon.webp" width="544"
            height="314" alt="1">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/1-pc-x1_4_11zon.webp 1x, 
              ./img/covers/1-pc-x2_3_11zon.webp 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/1-mob-x1_12_11zon.webp 1x, 
              ./img/covers/1-mob-x2_11_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/1-pc-x1_4_11zon.webp" width="544"
            height="314" alt="1">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/Rectangle8-1x-min.jpg 1x, 
              ./img/covers/Rectangle8-2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/8-mob-x1_4_11zon.webp 1x, 
              ./img/covers/8-mob-x2_3_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/Rectangle8-1x-min.jpg" width="544"
            height="314" alt="8">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/Rectangle9-1x-min.jpg 1x, 
              ./img/covers/Rectangle9-2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/9-mob-x1_10_11zon.webp 1x, 
              ./img/covers/9-mob-x2_5_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/Rectangle9-1x-min.jpg" width="544"
              height="314" alt="9">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/Rectangle4-min.jpg 1x, 
              ./img/covers/Rectangle4-2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/4-mob-x1_9_11zon.webp 1x, 
              ./img/covers/4-mob-x2_8_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/Rectangle4-min.jpg" width="544"
              height="314" alt=" 4">
            </picture>
          </li>
          <li class="covers-foto">
            <picture>
              <source srcset="./img/covers/Rectangle5-min.jpg 1x, 
              ./img/covers/Rectangle5-2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <img src="./img/covers/Rectangle5-min.jpg" width="544"
              height="314" alt="5">
            </picture>
            <picture>
              <source srcset="./img/covers/Rectangle12-min.jpg 1x, 
              ./img/covers/Rectangle12-2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <source srcset="./img/covers/12-mob-x1_7_11zon.webp 1x, 
              ./img/covers/12-mob-x2_6_11zon.webp 2x" 
              media="(min-width: 320px)">
              <img src="./img/covers/Rectangle12-min.jpg" width="544"
            height="314" alt="12">
            </picture></li>
      </ul>
    </div>
    </div>
  </section>