<section class="faq-container" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="faq-header">
          Які мови програмування найчастіше використовуються у вашому проекті?
          <button class="faq-btn-trigger">
            <svg class="faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          У сфері веб-розробки використовуються різні технології та мови
          програмування. Зазвичай це комбінація фронтенд (клієнтська частина) та
          бекенд (серверна частина) мов.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          Які терміни виконання проекту?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          Терміни реалізації проекту значною мірою залежать від ряду факторів,
          таких як обсяг проекту, його складність і наявність ресурсів.
          Визначення точних термінів зазвичай відбувається на етапі планування
          проекту.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          Які методи оплати ви приймаєте?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          Оплата через кредитні та дебетові картки, такі як Visa, MasterCard,
          спеціалізовані електронні платіжні системи, такі як PayPal, а також
          оплати в криптовалютах, таких як Bitcoin, Ethereum та інших.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          Як можна з вами зв'язатися?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          У сфері веб-розробки використовуються різні технології та мови
          програмування. Зазвичай це комбінація фронтенд (клієнтська частина) та
          бекенд (серверна частина) мов.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          Чи надаєте ви консультації або підтримку?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          Терміни реалізації проекту значною мірою залежать від ряду факторів,
          таких як обсяг проекту, його складність і наявність ресурсів.
          Визначення точних термінів зазвичай відбувається на етапі планування
          проекту.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          Як виглядає процес розробки програмного продукту від ідеї до
          впровадження?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          Оплата через кредитні та дебетові картки, такі як Visa, MasterCard,
          спеціалізовані електронні платіжні системи, такі як PayPal, а також
          оплати в криптовалютах, таких як Bitcoin, Ethereum та інших.
        </p>
      </li>
    </ul>
  </div>
</section>
