<header class="header">
  <div class="header-wrapper container">
    <a href="./index.html" class="logo">
      <img
        srcset="
          ./img/header/header-logo@x1.png 1x,
          ./img/header/header-logo@x2.png 2x
        "
        src="./img/header/header-logo@x1.png"
        alt="site logo"
      />
      <p class="logo-text">jefferson*</p>
    </a>
    <div class="navigation">
      <span class="menu">Menu</span>
      <nav class="navi">
        <ul class="nav-wrapper">
          <li class="nav-item">
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="open-menu-btn" type="button" aria-label="Open menu button">
      <svg class="burger-menu" width="28" height="28">
        <use href="./img/sprite/icons.svg#icon-header-menu"></use>
      </svg>
    </button>
    <a class="order-links" href="#work-together"> Order the project </a>
  </div>
</header>

<!--modal window-->
<div class="backdrop">
  <div class="modal">
    <button
      class="modal-close-btn"
      type="button"
      aria-label="Modal close button"
    >
      <svg class="close-icon" width="28" height="28">
        <use href="./img/sprite/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="navi-modal">
      <ul class="navi-modal-wrapper">
        <li class="nav-item">
          <a class="navi-modal-link" href="#about-me">About me</a>
        </li>
        <li class="nav-item">
          <a class="navi-modal-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="navi-modal-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="navi-modal-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
