<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        Hello. <br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <ul class="hero-list">
        <li class="hero-item">
          <a
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            class="socials"
            >IG</a
          >
        </li>
        <li class="hero-item">
          <a
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            class="socials"
            >FB</a
          >
        </li>
        <li class="hero-item">
          <a
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
            class="socials"
            >YT</a
          >
        </li>
        <li class="hero-item">
          <a
            target="_blank"
            href="https://sandrahotsyn.github.io/P09-PortfolioFSDev/"
            class="socials"
            >GH</a
          >
        </li>
        <li class="hero-item">
          <a
            target="_blank"
            href="lloydjefferson@gmail.com"
            class="social-email"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
