<section class="projects-container" id="projects">
  <section class="container">
  <h2 class="projects">Projects</h2>
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <!-- Slide 1 -->
        <div class="wrap_1">
          <div class="wrap_text">
            <p class="react text">#react</p>
            <p class="js text">#js</p>
            <p class="node text">#node js</p>
            <p class="git text">#git</p>
          </div>
          <h3 class="title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>

          <a
            class="btn"
            href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="wrap_2">
          <picture>
            <source
              srcset="
                ./img/projects/slayd1@2x-tab.png 2x,
                ./img/projects/slayd1-tab.png    1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/slayd1@2x-tab.png 2x,
                ./img/projects/slayd1-tab.png    1x
              "
              media="(min-width: 320px)"
            />
            <img
              class="project-img"
              src="../img/projects/slayd1-tab.png"
              alt="Expand your mind"
              width="311"
              height="195"
            />
          </picture>
        </div>
      </li>
      <li class="swiper-slide">
        <!-- Slide 2 -->
        <div class="wrap_1">
          <div class="wrap_text">
            <p class="react text">#react</p>
            <p class="js text">#js</p>
            <p class="node text">#node js</p>
            <p class="git text">#git</p>
          </div>
          <h3 class="title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            class="btn"
            href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="wrap_2">
          <picture>
            <source
              srcset="
                ./img/projects/slayd2@2x-tab.png 2x,
                ./img/projects/slayd2-tab.png    1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/slayd2@2x-tab.png 2x,
                ./img/projects/slayd2-tab.png    1x
              "
              media="(min-width: 320px)"
            />
            <img
              class="project-img"
              src="./img/projects/slayd2-tab.png"
              alt="Expand your mind"
              width="311"
              height="195"
            />
          </picture>
        </div>
      </li>
      <li class="swiper-slide">
        <!-- Slide 3 -->
        <div class="wrap_1">
          <div class="wrap_text">
            <p class="react text">#react</p>
            <p class="js text">#js</p>
            <p class="node text">#node js</p>
            <p class="git text">#git</p>
          </div>
          <h3 class="title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            class="btn"
            href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="wrap_2">
          <picture>
            <source
              srcset="
                ./img/projects/slayd3@2x-tab.png 2x,
                ./img/projects/slayd3-tab.png    1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/slayd3@2x-tab.png 2x,
                ./img/projects/slayd3-tab.png    1x
              "
              media="(min-width: 320px)"
            />
            <img
              class="project-img"
              src="./img/projects/slayd3-tab.png"
              alt="Expand your mind"
              width="311"
              height="195"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="wrap-btn">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
