<section class="projects-container" id="projects">
  <div class="container">
    <h2 class="projects">Projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide project-slide">
          <!-- Slide 1 -->
          <div class="wrap_1">
            <ul class="wrap_text">
              <li class="react text">
                <p>#react</p>
              </li>
              <li class="js text">
                <p>#js</p>
              </li>
              <li class="node text">
                <p>#node js</p>
              </li>
              <li class="git text">
                <p>#git</p>
              </li>
            </ul>
            <h3 class="title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              class="btn"
              href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="wrap_2">
            <picture>
              <source
                srcset="
                  ./img/projects/slayd1@2x-tab.png 2x,
                  ./img/projects/slayd1-tab.png    1x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slayd1@2x-tab.png 2x,
                  ./img/projects/slayd1-tab.png    1x
                "
                media="(min-width: 320px)"
              />
              <img
                class="project-img"
                src="./img/projects/slayd1-tab.png"
                alt="Expand your mind"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <!-- Slide 2 -->
          <div class="wrap_1">
            <ul class="wrap_text">
              <li class="react text">
                <p>#react</p>
              </li>
              <li class="js text">
                <p>#js</p>
              </li>
              <li class="node text">
                <p>#node js</p>
              </li>
              <li class="git text">
                <p>#git</p>
              </li>
            </ul>
            <h3 class="title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="btn"
              href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="wrap_2">
            <picture>
              <source
                srcset="
                  ./img/projects/slayd2@2x-tab.png 2x,
                  ./img/projects/slayd2-tab.png    1x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slayd2@2x-tab.png 2x,
                  ./img/projects/slayd2-tab.png    1x
                "
                media="(min-width: 320px)"
              />
              <img
                class="project-img"
                src="./img/projects/slayd2-tab.png"
                alt="Expand your mind"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <!-- Slide 3 -->
          <div class="wrap_1">
            <ul class="wrap_text">
              <li class="react text">
                <p>#react</p>
              </li>
              <li class="js text">
                <p>#js</p>
              </li>
              <li class="node text">
                <p>#node js</p>
              </li>
              <li class="git text">
                <p>#git</p>
              </li>
            </ul>
            <h3 class="title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="btn"
              href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="wrap_2">
            <picture>
              <source
                srcset="
                  ./img/projects/slayd3@2x-tab.png 2x,
                  ./img/projects/slayd3-tab.png    1x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slayd3@2x-tab.png 2x,
                  ./img/projects/slayd3-tab.png    1x
                "
                media="(min-width: 320px)"
              />
              <img
                class="project-img"
                src="./img/projects/slayd3-tab.png"
                alt="Expand your mind"
                width="311"
                height="195"
              />
            </picture>
            <img />
          </div>
        </li>
      </ul>
      <div class="wrap-btn">
        <button class="swiper-button-prev">
          <svg class="benefit-icon project-icon" width="24" height="24">
            <use href="./img/sprite/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next">
          <svg class="benefit-icon project-icon" width="24" height="24">
            <use href="./img/sprite/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
