<!-- <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/> -->
<section class="projects">
  <div class="container">
    <h2 class="projects">Projects</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <ul>
          <li class="swiper-slide">
            <!-- Slide 1 -->
            <div class="wrap_1">
              <div class="wrap_text">
                <p class="react text">#react</p>
                <p class="js text">#js</p>
                <p class="node text">#node js</p>
                <p class="git text">#git</p>
              </div>
              <h3 class="title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <button class="btn" type="button">
                <a
                  href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
                  target="_blank"
                  >See project</a
                >
              </button>
            </div>
            <div class="wrap_2">
              <img
                class="project-img"
                srcset="
                  ./img/projects/slayd1@2x-mob.png 2x,
                  ./img/projects/slayd1-mob.png    1x
                "
                src="./img/projects/slayd1-mob.png"
                alt="Expand your mind"
                width="311"
                height="195"
              />
            </div>
          </li>
        </ul>
        <ul>
          <li class="swiper-slide">
            <!-- Slide 2 -->
            <div class="wrap_1">
              <div class="wrap_text">
                <p class="react text">#react</p>
                <p class="js text">#js</p>
                <p class="node text">#node js</p>
                <p class="git text">#git</p>
              </div>
              <h3 class="title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button class="btn" type="button">
                <a
                  href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
                  target="_blank"
                  >See project</a
                >
              </button>
            </div>
            <div class="wrap_2">
              <img
                class="project-img"
                srcset="
                  ./img/projects/slayd2@2x-mob.png 2x,
                  ./img/projects/slayd2-mob.png    1x
                "
                src="./img/projects/slayd2-mob.png"
                alt="Expand your mind"
                width="311"
                height="195"
              />
            </div>
          </li>
        </ul>
        <ul>
          <li class="swiper-slide">
            <!-- Slide 3 -->
            <div class="wrap_1">
              <div class="wrap_text">
                <p class="react text">#react</p>
                <p class="js text">#js</p>
                <p class="node text">#node js</p>
                <p class="git text">#git</p>
              </div>
              <h3 class="title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button class="btn" type="button">
                <a
                  href="https://github.com/SandraHotsyn/P09-PortfolioFSDev"
                  target="_blank"
                  >See project</a
                >
              </button>
            </div>
            <div class="wrap_2">
              <img
                class="project-img"
                srcset="
                  ./img/projects/slayd3@2x-mob.png 2x,
                  ./img/projects/slayd3-mob.png    1x
                "
                src="./img/projects/slayd3-mob.png"
                alt="Expand your mind"
                width="311"
                height="195"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="wrapper-btn">
        <div class="swiper-button-prev-project"></div>
        <div class="swiper-button-next-project"></div>
      </div>
    </div>
  </div>
</section>
