<section class="reviews">
  <div class="container">
    <h2 class="rev-title">rewiews</h2>
    <!-- <div class="swiper-container">
      <div class="swiper-wrapper">
        <ul class="reviews-list"></ul>
      </div>
      <div class="swiper-button-next rev-right-btn"></div>
      <div class="swiper-button-prev rev-left-btn"></div>
    </div> -->
    <div class="swiper mySwiper">
        <ul class="swiper-wrapper"></ul>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
