<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="reviews-swiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div class="reviews-swiper-arrows-container">
        <button
          type="button"
          class="reviews-swiper-button reviews-swiper-button-left"
        >
          <svg class="benefit-icon" width="24" height="24">
            <use href="./img/sprite/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          type="button"
          class="reviews-swiper-button reviews-swiper-button-right"
        >
          <svg class="benefit-icon" width="24" height="24">
            <use href="./img/sprite/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
