.about-me-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
 }
  
  .circle-slider {
    display: flex;
    align-items: center;
  }
  
  .circle-container {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden; /* Сховати вміст, що виходить за межі */
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  /* Стилізація для першого кружечка */
.circle:first-child {
    background-color: var(--red); /* Інший колір для першого кружечка */
  }
  
  .next-button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
