.about-me-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .circle-slider {
    display: flex;
    align-items: center;
  }
  
  .circle-container {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden; /* Сховати вміст, що виходить за межі */
    width: 350px; /* Ширина контейнера з кружечками */
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px; /* Відстань між кружечками */
  } 

  /* Стилізація для першого кружечка */
.circle:first-child {
    background-color: #e74c3c; /* Інший колір для першого кружечка */
  }
  
  .next-button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  