.about-me-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1C1D20;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}

.circle-slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 96px;
    
}

.circle-container {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    width: calc(100vw - 100px);
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1C1D20;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.circle:first-child {
    background-color: #e74c3c;
}

.btn-about-me {
    display: flex;
}

.next-button {
    width: 40px;
    height: 40px;
    border: 2px solid #3B3B3B;
    background-color: transparent;
    display: flex;
    justify-content: end;
    cursor: pointer;
    border-radius: 50%;
}

.next-button:hover svg path {
    stroke: white; 
}

.circle-container::-webkit-scrollbar {
    display: none;
}

.circle-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 374px) {
    .circle-container .circle:nth-child(n+3) {
        display: none;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .circle-container .circle:nth-child(n+3) {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .circle-container .circle:nth-child(n+4) {
        display: none;
    }

    .circle {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 1440px) {
    .circle-container {
        padding-left: 32px;
    }

    .about-me-wiper {
        width: 1440px;
    }
    .circle {
        width: 200px;
        height: 200px;
    }
}
