body {
  font-family: 'Inter Tight', sans-serif;
  color: #2c2c2c;
  background-color: #1c1d20;
}
.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
