:root {
  --red: #ED3B44;
  --wht: #FAFAFA;
  --blk: #1C1D20;
  --gry: #3B3B3B;
}

body {
  font-family: 'Inter Tight', sans-serif;
  color: #2c2c2c;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px){
  .container {
    width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}