    .covers-list {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        width: 270%;
        animation: marqueeScroll 15s linear infinite alternate;
    }

      .covers-foto img {
        width: 544px;
        height: auto;
        transform: rotate(16deg) translateY(10px) ;
        transform-origin: center;
        display: block;
      }

      .covers {
        margin-top: 64px;
      }

      .covers-container {
            overflow: hidden;
            margin: 0 auto;
            max-width: 1440px;
            height: 960px;
            position: relative;
            background-image: url('/img/covers/background.png'); 
          background-size: cover;  
          background-repeat: no-repeat; 
          background-position: center;
      }

      .covers-foto:hover img {
        transform: rotate(16deg) translateY(10px) scale(1.05); 
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
        border-radius: 15px;
      }

      @keyframes marqueeScroll {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-50%);
        }
      }

  @media (min-width: 768px) {
   .covers-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    width: 270%;
    animation: marqueeScroll 15s linear infinite alternate;
   } 

   .covers {
    margin-top: 96px;
}

.covers-foto img {
    width: 544px;
    height: auto;
    transform: rotate(16deg) translateY(10px) ;
    transform-origin: center;
    display: block;
    border: none;
  }

  .covers-container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1440px;
    height: 960px;
    position: relative;
    background-image: url('/img/covers/background.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  }

  .covers-foto:hover img {
    transform: rotate(16deg) translateY(10px) scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
  }

  @keyframes marqueeScroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  }


  @media (min-width: 1440px) {
  .covers-container {
    overflow: hidden;
    margin: 0 auto;
    height: 960px;
    position: relative;
    background-image: url('/img/covers/background.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  }

  .covers {
    margin-top: 164px;
  }
  
  .covers-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    width: 270%; 
    animation: marqueeScroll 15s linear infinite alternate;
  }
 
  .covers-foto img {
    width: 544px;
    height: auto;
    transform: rotate(16deg) translateY(10px) ;
    transform-origin: center;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .covers-foto:hover img {
    transform: rotate(16deg) translateY(10px) scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
  }
  
  @keyframes marqueeScroll {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
    }
  