.faq-container {
  margin-top: 64px;
}

.faq-title {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  margin-bottom: 32px;
}

.faq-item {
  padding: 20px 0;
  border-top: 1px solid var(--lgr);
  border-bottom: 1px solid var(--lgr);
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -20px;
  border-radius: 50px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.faq-content {
  margin-top: 16px;
  color: rgba(250, 250, 250, 0.6);
  display: none;
}

.faq-btn-trigger {
  flex-shrink: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  border: 1px solid var(--lgr);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  margin-left: 44px;
}

.faq-btn-trigger:hover {
  color: var(--wht);
}

.faq-header:hover,
.faq-header:focus {
  transform: scale(1.03);
}

@media only screen and (min-width: 768px) {
  .faq-container {
    margin-top: 96px;
  }

  .faq-item {
    padding: 32px 0;
  }

  .faq-content {
    max-width: 656px;
    margin-top: 26px;
  }

  .faq-btn-trigger {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq-container {
    margin-top: 164px;
  }

  .faq-item:nth-child(odd) {
    border-right: 1px solid var(--lgr);
  }

  .faq-item:nth-child(even) {
    padding-left: 32px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
