.faq-container {
  width: 100%;
  margin-top: 64px;
}

.faq-title {
  max-width: 1440px;
  margin-bottom: 32px;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
}

.faq-item {
  padding: 20px 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-header {
  min-width: 265px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 20px;
  left: -20px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out;
}

.faq-content {
  max-height: 0;
  margin-top: 16px;
  color: rgba(250, 250, 250, 0.6);
  opacity: 0;
  overflow: hidden;
  transition-property: opacity, max-height;
  transition: opacity 0.3s ease 0.1s, max-height 0.5s ease 0s;
}

.faq-item.active .faq-content {
  max-height: 500px;
  opacity: 1;
}

.faq-btn-trigger {
  display: flex;
  background: none;
  flex-shrink: 0;
  margin-left: 44px;
  padding: 0;
  width: 34px;
  height: 34px;
  align-items: center;
  border: none;
  border: 1px solid var(--lgr);
  border-radius: 100px;
  padding: 7px;
  cursor: pointer;
}

.faq-btn-trigger:hover {
  color: var(--wht);
}

.faq-btn-open {
  display: inline-block;
  stroke: #fafafa;
  fill: var(--wht);
}

.faq-btn-close {
  display: none;
  fill: var(--wht);
}

.faq-header:hover,
.faq-header:focus {
  transform: scale(1.03);
}

@media only screen and (min-width: 768px) {
  .faq-container {
    margin-top: 96px;
  }

  .faq-item {
    padding: 32px 0;
  }

  .faq-content {
    max-width: 656px;
  }

  .faq-btn-trigger {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq-container {
    margin-top: 164px;
  }

  .faq-item:nth-child(odd) {
    border-right: 1px solid var(--lgr);
  }

  .faq-item:nth-child(even) {
    padding-left: 32px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
