.container {
  margin-top: 64px;
}
.accordion-container {
  font-family: 'Inter Tight', sans-serif;
  color: #fafafa;
  background-color: #1c1d20;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
  text-transform: uppercase;
}

.ac {
  margin-top: 8px;
  box-sizing: border-box;
}

.ac .ac-trigger {
  text-align: left;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
}

.ac .ac-trigger::after {
  content: '>';
  text-align: center;
  width: 15px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
  color: #fafafa;
}

.ac .ac-trigger:focus {
  color: #8a8a8a;
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
  background-color: #1c1d20;
}

.ac .ac-panel .ac-text {
  font-size: 15px;
  line-height: 24px;
  color: #fafafa;
}

.ac.js-enabled .ac-panel {
  visibility: hidden;
}

.ac.is-active .ac-panel {
  visibility: visible;
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: '^';
}

.text-accordion {
  color: #fafafa;
  background-color: #1c1d20;
}

.ac-header:hover,
.ac-header:focus {
  /* border: 2px solid currentColor; */
  border-color: var(--wht);
  transform: scale(1.03);
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-top: 96px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-top: 164px;
  }

  .accordion-container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0 auto;
    color: #fafafa;
    background-color: #1c1d20;
  }
}
