html {
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  top: 32px;
  left: 0;

  width: 100%;
  background-color: transparent;
  z-index: 999;
}

.header-wrapper {
  /* padding-top: 32px; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  transform: scale(1.03);
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo-text {
  color: var(--wht);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.025em;
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.menu {
  color: var(--wht);
  padding: 10px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover,
.menu:focus {
  transform: scale(1.07);
  color: var(--red);
}

.navi {
  display: none;
  opacity: 0;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1),
    display 750ms cubic-bezier(0.4, 0, 0.2, 1) allow-discrete;
}

.navi.is-open {
  display: block;
  opacity: 1;
}

.nav-wrapper {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  transform: scale(1.07);
}

.nav-link {
  color: var(--wht);
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--wht);
}

.open-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.open-menu-btn:hover,
.open-menu-btn:focus {
  transform: scale(1.07);
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.burger-menu {
  stroke: var(--wht);
}

@media screen and (max-width: 768px) {
  .order-links {
    display: none;
  }
}

.order-links {
  color: var(--wht);
  padding: 18px 24px;
  background-color: var(--red);
  border-radius: 60px;
  border: none;
  font-weight: 500;
  letter-spacing: -0.02em;

  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.order-links:hover,
.order-links:focus {
  background: #e0373f;
  transform: scale(1.07);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 750ms cubic-bezier(0.4, 0, 0.2, 1),
    right 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  left: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 1000;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  background-image: url('/img/header/header-modal@1x.png');
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 100vh;

  transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width: 375px) and (min-resolution: 192dpi) {
  .modal {
    background-image: url('/img/header/header-modal@2x.png');
  }
}

.modal-close-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  transform: scale(1.07);
}
.close-icon {
  stroke: var(--wht);
}
.navi-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navi-modal-wrapper {
  color: var(--wht);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.navi-modal-link {
  font-weight: 500;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}
.navi-modal-link:hover,
.navi-modal-link:focus {
  color: var(--red);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
