/* .header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */
/* header styles */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.header-logo-link {
  display: flex;
}

.header-container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header-logo-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 80px;
  margin-top: 0;
  padding-top: 0;
}

.header-logo-span {
  font-family: var(--font-family);
  font-size: 17px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-left: 8px;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header-nav-list {
  display: none;
}

.header-order-project-btn {
  display: none;
}

/* mobile menu styles */

#header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--navy-blue-modal);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#header-overlay.is-open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.header-overlay-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-image: url('../img/hero/mobile-hero.png');
  background-repeat: repeat;
  background-position: center center;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-mobile-menu-close-btn {
  border: none;
  background-color: inherit;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
}

.header-nav-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-nav-list-modal {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-menu-text {
  display: none;
  position: relative;
}

.header-nav-list-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration-skip-ink: none;
  color: var(--main-text);
}

.header-nav-list-item:hover {
  color: var(--button-text);
}

@media screen and (max-width: 767px) {
  .header-nav-list-item {
    text-decoration: underline;
  }
}

.header-mobile-order-project-btn {
  border: none;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background: var(--button-text);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  margin: 0 auto;
  position: absolute;
  bottom: 32px;
}

.header-mobile-order-project-btn:hover {
  background: #e0373f;
}

/* media queries  */

@media (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }

  .header {
    width: 100%;
  }

  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-menu-text {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--main-text);
  }

  #header-over.lay {
    display: none;
  }

  .header-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 16px;
  }

  .header-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    opacity: 0;
    max-height: none;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 10;
    transition: opacity 0.9s ease;
  }

  .header-nav-list.is-visible {
    opacity: 1;
    max-height: 500px;
  }

  .header-nav-list-item {
    text-align: center;
  }

  .header-order-project-btn {
    display: block;
    border: none;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: var(--button-text);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--main-text);
  }

  .header-order-project-btn:hover {
    background: #e0373f;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
  }
}