.hero {
  padding-top: 281px;
  padding-bottom: 32px;

  background: url('/img/hero/hero-mob.png') no-repeat center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background: url('/img/hero/hero-mob-x2.png');
  }
}

.hero-title {
  font-weight: 500;
  font-size: 13vw;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--wht);
  margin-bottom: 212px;
}

.hero-list {
  display: flex;
  gap: 4px;
}

.hero-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  transition: border 0.3s ease;
  font-size: 12px;
  color: var(--wht);
  letter-spacing: -0.02em;
  min-width: 27px;
  min-height: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero-item:last-child {
  width: 178px;
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 50px;
  }

  .hero-item {
    font-size: 14px;
    font-weight: 500;
    width: 37px;
    height: 37px;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;

    background: url('/img/hero/hero-tab.png') no-repeat center;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background: url('/img/hero/hero-tab-x2.png');
    }
  }

  .hero-title {
    font-size: 90px;
    margin-bottom: 187px;
  }

  .hero-item {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }

  .hero-list {
    gap: 8px;
    justify-content: flex-end;
  }

  .hero-item:last-child {
    width: 223px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background: url('/img/hero/hero.png') no-repeat center;
    background-size: cover;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background: url('/img/hero/hero-x2.png');
    }
  }

  .hero-title {
    max-width: 1084px;
    margin-bottom: 243px;
    align-self: center;
  }
}
