.hero {
  padding-top: 281px;
  padding-bottom: 32px;
  position: relative;
  height: 812px;

  background-image: linear-gradient(
    90deg,
    rgba(194, 48, 56, 1) 50%,
    var(--blk) 68%
  );
  background-repeat: no-repeat;
  background-position: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  background: url('/img/hero/hero-mob.png') no-repeat center;
  background-size: cover;
  transform: translate(-50%, -50%);
  /* width: 375px;
  height: 812px; */
  z-index: 0;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero::before {
    background: url('/img/hero/hero-mob-x2.png');
  }
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-title {
  font-weight: 500;
  font-size: 13vw;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--wht);
  margin-bottom: 212px;
}

.hero-list {
  display: flex;
  gap: 4px;
}

.hero-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  transition: border 0.3s ease;
  font-size: 14px;
  color: var(--wht);
  font-weight: 500;
  letter-spacing: -0.02em;
  width: 37px;
  height: 37px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero-item .socials,
.social-email {
}

.hero-item:last-child {
  width: 178px;
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 50px;
  }

  .hero-item {
    font-size: 14px;
  }
}
/* Перероби фонові зображення, кинь на хіро без псевдоелементів */
