.swiper {
  border-radius: 24px;
  max-width: 320px;
}

.projects-container {
  margin: 64px 0;
}

.projects {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper-wrapper > .swiper-slide {
  width: 320px;
  max-height: 812px;
}

.wrap_1 {
  background: var(--wht);
  padding: 32px;
  height: 417px;
}

.wrap_text {
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  /* min-width: 279px; */

  /* max-height: 96px; */
  /* padding: 32px 0 0; */
  /* margin: 0 32px 96px; */
  gap: 6px 6px;
  margin-bottom: 96px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  /* padding: 13px 18px; */
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.react {
  width: 80px;
}

.js {
  width: 57px;
}

.node {
  width: 94px;
}

.git {
  width: 63px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  color: #1c1d20;
  /* margin: 0 32px 45px 32px; */
  margin-bottom: 32px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: var(--wht);

  display: block;
  border: none;
  border-radius: 60px;
  width: 141px;
  height: 45px;
  color: var(--wht);
  background: var(--red);
  margin: 0 auto;
  /* margin-left: 32px; */
  /* margin-bottom: 32px; */
  padding: 13px 32px;
}
.wrap_2 {
  border-radius: 0 0 24px 24px;
  background: #242527;
  padding: 90px 12px;
}

.project-img {
  width: 100%;
}

.wrap-btn {
  justify-content: center;
  display: flex;
  margin-top: 32px;
  gap: 12px;
}

@media only screen and (min-width: 375px) {
  .wrap_2 {
    padding: 100px 16px;
  }
}

@media only screen and (min-width: 768px) {
  .projects-container {
    margin: 96px 32px;
  }
  .swiper {
    max-width: 1440px;
    /* padding: 0 32px; */
  }
  .project-img {
    margin: 0 auto;
    width: 614px;
  }
  .swiper-slide {
    min-width: 704px;
    max-height: 1191px;
  }
  .wrap_2 {
    border-radius: 0 0 24px 24px;
    background: #242527;
    padding: 120px 45px;
  }
  /* .wrap_text {
  } */
  .title {
    font-size: 44px;
    line-height: 1;
  }
  .wrap-btn {
    margin-top: 64px;
    gap: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .swiper {
    min-width: 1440px;
    /* padding: 0 32px; */
  }
  .swiper-slide {
    display: flex;
    min-width: 1376px;
    max-height: 625px;
  }

  .title {
    margin: 223px 130px 50px 64px;
    font-size: 44px;
    line-height: 1;
  }
  .btn {
    margin-left: 64px;
  }
  .wrap_1 {
    background: #fafafa;
    width: 688px;
    height: 625px;
    border-radius: 0 0 0 24px;
  }
  .wrap_2 {
    width: 688px;
    height: 625px;
    border-radius: 0 24px 24px 0px;
    background: #242527;
    padding: 100px 16px;
  }
}
